[data-theme="light"] {
  --post: #48cb90;
  --get: #2a69a7;
  --put: #d59d58;
  --delete: #c83232;
  --options: #24598f;
  --head: #8c3fcf;
  --patch: #5cd6bc;
  --method: darkgray;
}
[data-theme="dark"] {
  --post: #49cc90;
  --get: #61affe;
  --put: #fca130;
  --delete: #f93e3e;
  --options: #0d5aa7;
  --head: #9012fe;
  --patch: #50e3c2;
  --method: lightgray;
}

.method{color: var(--method)}
.POST{color: var(--post)}
.GET{color: var(--get)}
.PUT{color: var(--put)}
.DELETE{color: var(--delete)}
.OPTIONS{color: var(--options)}
.HEAD{color: var(--head)}
.PATCH{color: var(--patch)}

* {
  box-sizing: border-box;
}

body {
  cursor: default;
  overflow: hidden;
}

button {
  cursor: pointer;
}
